<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off"  />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="POAMA.Service.Forecast">
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="binding1"
                  contract="POAMA.Service.IForecast">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="rest" 
                  binding="webHttpBinding" 
                  bindingNamespace="http://www.apsim.info/POAMA.Service" 
                  behaviorConfiguration="WebBehavior" 
                  contract="POAMA.Service.IForecast"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/POAMA.Service/Forecast/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="binding1" maxBufferPoolSize="2097152000" maxBufferSize="2097152000"
          maxReceivedMessageSize="2097152000">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483470"
            maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      
    </behaviors>
  </system.serviceModel>

</configuration>